---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

   

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
    <!-- ============================================ -->
<!--                   About Us                   -->
<!-- ============================================ -->





<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Waffle House Bar & Grill</h2>
            <p class="cs-text">
                We bring people together with delicious meals in a warm, inviting setting. Enjoy our famous waffles and grill favorites, perfect for any occasion. Join us and experience why we're a community favorite.            </p>
            <p class="cs-text">
                A Waffle House Bar and Grill combines the classic comfort of a diner with the variety of a bar and grill. It offers a diverse menu featuring traditional breakfast items like waffles and eggs, along with grill favorites such as burgers, steaks, and ribs. The relaxed, family-friendly atmosphere includes a dedicated bar area serving a selection of alcoholic beverages. Open for extended hours, it caters to a wide range of customers, providing a welcoming place for both meals and casual drinks.            </p>
            <div class="cs-quote">
                <span class="cs-quote-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                </span>
                <span class="cs-name">2024</span>
                <span class="cs-job">Date Established</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src='/assets/images/Wafflehouse.png' alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
          
<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Know</span>
            <h2 class="cs-title">Want to learn more About Us?</h2>
            <p class="cs-text">
               

                Welcome to Waffle House Bar & Grill, where diner comfort meets bar and grill favorites. We offer a diverse menu featuring classic breakfast items like waffles and eggs, as well as burgers, steaks, and ribs. Enjoy our cozy, family-friendly atmosphere or relax in our bar area with a variety of craft beers and cocktails. Join us for great food and a welcoming experience any time of the day!            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=H0JqzxqGxPQm&format=png&color=1A1A1A" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">8:00 AM- 2:00 AM</h3>
                <p class="cs-item-text">
                    Monday - Sunday                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=3723&format=png&color=1A1A1A" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">26 Strathmoor Dr</h3>
                <p class="cs-item-text">
                    Sherwood Park, Canada                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=9659&format=png&color=1A1A1A" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">+1 780-570-8547/h3>
                <p class="cs-item-text">
                    Phone Number                </p>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Contact</a>
    </div>
</section>
                                
                                
                                

   

{% endblock %}