---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'menu/'
eleventyNavigation:
    key: Menu
    order: 1
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/menu.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

   

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">

<!-- ============================================ -->
<!--                   Menu                       -->
<!-- ============================================ -->


<section id="services-966">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Menu</span>
            <h2 class="cs-title">Top Best Selling Dishes</h2>
            <p class="cs-text">
                Our best-selling dishes include our signature fluffy waffles, savory grilled steaks, and crispy chicken tenders, all crafted to perfection and loved by our guests.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=9749&format=png&color=FFFAFA" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Waffle</h3>
                <p class="cs-item-text">
                    Best-selling dish because of their perfect blend of crispy edges and fluffy interiors, creating a delightful experience.
                </p>
                <a href="" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src='/assets/images/menu1.jpg' alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=9752&format=png&color=FFFAFA" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Steak</h3>
                <p class="cs-item-text">
                    Our steaks are a best-seller because they're expertly grilled to perfection, offering a juicy, flavorful experience that satisfies every palate.
                </p>
                <a href="" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src='/assets/images/menu2.jpg' alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=9756&format=png&color=FFFAFA" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Salad</h3>
                <p class="cs-item-text">
                    A crisp ingredients and flavorful dressings, making them a delicious and healthy option for our guests.
                </p>
                <a href="" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src='/assets/images/menu3.jpg' alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    <picture class="cs-waves">
        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg"> -->
        <!-- <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture> -->
</section>
   
                                

   

{% endblock %}